{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="crow">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Nombre</td>
                    <td>Apellido Paterno</td>
                    <td>Apellido Materno</td>
                    <td>Rut</td>
                    <td>Sexo</td>
                    <td>Teléfono</td>
                    <td>Dirección</td>
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
                {% if object_list %}
                {% for alumnos in object_list%}
                <tr>    
                    <td>{{ alumnos.nombre }}</td>
                    <td>{{ alumnos.apellido_pat }}</td>
                    <td>{{ alumnos.apellido_mat }}</td>
                    <td>{{ alumnos.rut }}</td>
                    <td>{{ alumnos.sexo }}</td>
                    <td>{{ alumnos.telefono }}</td>
                    <td>{{ alumnos.direccion }}</td>
                    <td>
                            <a href="{% url 'editar_usuario' user.pk %}" class="btn btn-success">
                                Editar
                            </a>
                            <a href="{% url 'eliminar_usuario' user.pk%}" class="btn btn-danger">
                                Eliminar
                            </a>
                        </td>
                </tr>
                {% endfor %}
                {% else %}
                <h1 aling="center">No hay registros</h1>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
<div class="container-fluid">
<a href="{% url 'registroAlumno' %}" class="btn btn-primary">
        Volver
</a>
</div>
 {% endblock %}