{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
 <table id="tablaAlumnos" class="table table-responsive table-bordered">
    <thead>
        <tr>
            <td colspan="9" align="center" width="10" height="10"> Antecedentes Personales</td>
            <td colspan="4" align="center">Datos de Ingreso</td>
            <td colspan="8" align="center">Criterios de Selección</td>
            <td colspan="2" align="center">Acciones</td>
                <tr>
                    <td>Nombre</td>
                    <td>Apellido Paterno</td>
                    <td>Apellido Materno</td>
                    <td>Rut</td>
                    <td>Sexo</td>
                    <td>Email</td>
                    <td>Teléfono</td>
                    <td>Dirección</td>
                    <td>Universidad de Procedencia</td>
                    <td>Equivalencia u Homologación</td>
                    <td>Nivelación</td>
                    <td>Resultados Nivelacion</td>
                    <td>Semestre de Ingreso</td>
                    <td>Año de Ingreso</td>
                    <td>Estado de Matrícula</td>
                    <td>Antecedentes Académicos</td>
                    <td>Antecedentes Profesionales</td>
                    <td>Carta de recomendación</td>
                    <td>Entrevista</td>
                    <td>Puntaje</td>
                    <td>Resultados Condición</td>
                    <td>Editar</td>
                    <td>Eliminar</td>
                </tr>
        </tr>
    </thead>
   <tbody>
        {% if object_list %}
        {% for alumno in object_list %}
        <tr>    
            <td>{{ alumno.nombre }} </td>
            <td>{{ alumno.apellido_pat }} </td>
            <td>{{ alumno.apellido_mat }} </td>
            <td>{{ alumno.rut }} </td>
            <td>{{ alumno.sexo }} </td>
            <td>{{ alumno.email}} </td>
            <td>{{ alumno.telefono}} </td>
            <td>{{ alumno.direccion}} </td>
            <td>{{ alumno.universidad_procedencia}} </td>
            <td>{{ alumno.posee}} </td>
            <td>{{ alumno.nivelacion}} </td>
            <td>{{ alumno.resultados_nivelacion}} </td>
            <td>{{ alumno.semestre_ingreso}} </td>
            <td>{{ alumno.anio_ingreso}} </td>
            <td>{{ alumno.estado_matricula}} </td>
            <td>{{ alumno.antecedentes_academicos}} </td>
            <td>{{ alumno.antecedentes_profesionales}} </td>
            <td>{{ alumno.carta_recomendacion}} </td>
            <td>{{ alumno.entrevista}} </td>
            <td>{{ alumno.puntaje}} </td>
            <td>{{ alumno.resultados_condicion}} </td>
            <td>
                <a href="{% url 'editar_alumno' alumno.pk %}" class="btn btn-success">
                    Editar
                </a>
            </td>
            <td>   
                <a href="{% url 'eliminar_alumno' alumno.pk %}" class="btn btn-danger">
                    Eliminar
                </a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <h1 align="center">No hay registros</h1>
        {% endif %}
    </tbody> 

 </table>

 <div class="container-fluid">
    <a href="{% url 'registroAlumno' %}" class="btn btn-primary">
            Volver
    </a>
</div>

{% endblock %}