{% extends 'base.html'%} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <form class="form-horizontal" method="post">
                    <fieldset>
                        <legend class="text-center header">Registro Usuarios </legend>
                        <div class="form-control" color="black">
                            <form class="form" method="post">
                                {% csrf_token %} {{ form.as_p }}
                                <div class="tile-footer">
                                    <div class="form-group">
                                        <div class="col-md-8 col-md-offset-3">
                                            <button class="btn btn-primary" type="submit">
                                                <i class="fa fa-fw fa-lg fa-check-circle"></i>Register</button>
                                            <a class="btn btn-primary" href="{% url 'login' %}">
                                                <i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock content %}