{% extends "base.html" %}

{% block content %}

 <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
 
</head> 
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <form class="form-horizontal" method="post">
                    <fieldset>
                        <legend class="text-center header">Registro Usuarios </legend>
                        <div class="form-control" color="black">
                            <form class="form" method="post">
                                {% csrf_token %} {{ form.as_p }}
                                <div class="tile-footer">
                                    <div class="form-group">
                                        <div class="col-md-8 col-md-offset-3">
                                            <button class="btn btn-primary" type="submit">
                                                <i class="fa fa-fw fa-lg fa-check-circle"></i>Register</button>&nbsp;&nbsp;
                                            <a class="btn btn-primary" href="{% url 'login' %}">
                                                <i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

</html>
 
                        <div>
                            <h3 class="tile-title">Listado de Usuarios</h3>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                <center>Nombre de Usuario</center>
                                            </th>
                                            <th>
                                                <center>Nombre</center>
                                            </th>
                                            <th>
                                                <center>Estado</center>
                                            </th>
                                            <th>
                                                <center>Fecha de inicio</center>
                                            </th>
                                            <th>
                                                <center>Fecha de termino</center>
                                            </th>
                                            <th>
                                                <center>Acciones </center>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for u in User %}
                                        <tr>
                                            <td>
                                                <center>{{ u.username }}</center>
                                            </td>
                                            <td>
                                                <center>{{ u.firs_name }}</center>
                                            </td>
                                            <td>
                                                <center>{{ t.estadoTarea }}</center>
                                            </td>
                                            <td>
                                                <center>{{ t.fechaInicio }}</center>
                                            </td>
                                            <td>
                                                <center>{{ t.fechaTermino }}</center>
                                            </td>
                                            <td>
                                                <center>
                                                    <a href="{% url 'detalles_tarea' t.pk %}" class="btn btn-info">
                                                        Detalles
                                                    </a> /
                                                    <a href="{% url 'editar_tarea' t.pk %}" class="btn btn-primary">
                                                        Editar
                                                    </a> /
                                                    <a href="{% url 'eliminar_tarea' t.pk %}" class="btn btn-danger">
                                                        Eliminar
                                                    </a>
                                                </center>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                </div>
    
            </div>
        </div>
    </div>
 
{% endblock %}